In [59]:
import pandas as pd
import numpy as np

In [4]:
datka = pd.read_csv("drive/MyDrive/ML_BD/AB_NYC_2019.csv")

In [25]:
datka.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [19]:
df = datka[datka['price'] != 0]

In [61]:
np.mean(df.price)

152.75505277800508

In [60]:
np.var(df.price)

57680.573868791325

In [20]:
df['price'].to_csv('prices.csv', index=False, header=False)